<div class="card-body">
    <ul class="timeline">
        <li>
            <div class="timeline-badge"><i class="fa fa-check"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Aditya Developers</h4>
                    <p><small class="text-muted"><i class="fa fa-clock-o"></i> 11 hours ago via Twitter</small>
                    </p>
                </div>
                <div class="timeline-body">
                    <p>TruHomes Provides one platform for everyone, bringing everyone under one roof....literally a True Home for you!</p>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge warning"><i class="fa fa-credit-card"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Yash Developers and Promoters</h4>
                </div>
                <div class="timeline-body">
                    <p>TruHomes Provides one platform for everyone, bringing everyone under one roof....literally a True Home for you!</p>
                    <p>TruHomes easy to use, creatively designed to solve your solutions!</p>
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-badge danger"><i class="fa fa-bomb"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Samrudhi Properties</h4>
                </div>
                <div class="timeline-body">
                    <p>TruHomes is the best platform to uderstand customer needs and communicate to Developers!</p>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Prithvi Shelters</h4>
                </div>
                <div class="timeline-body">
                    <p>TruHomes, your gateway to a truely True Home!</p>
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-badge info"><i class="fa fa-save"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Shrikrishna Developers</h4>
                </div>
                <div class="timeline-body">
                    <p>TruHomes is the solution we were looking for, Thanks a ton!</p>
                    <hr>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-gear"></i>  <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a>
                            </li>
                            <li><a href="#">Another action</a>
                            </li>
                            <li><a href="#">Something else here</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Pungaliya Land Property Developers</h4>
                </div>
                <div class="timeline-body">
                    <p>TruHomes...Delivering solutions with cutting-edge technology.</p>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge success"><i class="fa fa-graduation-cap"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Viraj Kank Infra Projects Pvt Ltd</h4>
                </div>
                <div class="timeline-body">
                    <p>TruHomes is service the platform I was looking for!</p>
                </div>
            </div>
        </li>
    </ul>
</div>
